:root {
  --bg-color: #2b2b2b;
  --fg-color: #3d3c3c;
  --accent-color: #004973;
  --text-color: #dcdcd4;
}

html {
  box-sizing: border-box;
  background-color: var(--fg-color);
  color: var(--text-color);
}

.url-form {
  display: flex;
}

textarea {
  resize: none;

  background-color: var(--bg-color);
  color: var(--text-color);
  border: unset;
}

textarea:focus {
  outline: 3px solid var(--accent-color);
}

input[type="url"] {
  width: 100%;
  margin-right: 5px;

  background-color: var(--bg-color);
  color: var(--text-color);
  border: unset;
}

input[type="url"]:focus {
  outline: 3px solid var(--accent-color);
}

button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: unset;
}

button:hover {
  outline: 3px solid var(--accent-color);
}


button:active {
  background-color: var(--fg-color);
}
